<mat-card>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="forgotPassword()">
        <mat-form-field>
          <input matInput placeholder="Email" name="email" [(ngModel)]="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="New Password" name="password" type="password" [(ngModel)]="password" required>
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  
